@font-face {
  font-family: TT Lakes;
  src: url(../font/TTLakes-Bold.woff);
}
@font-face {
  font-family: TT Lakes Demi;
  src: url(../font/TTLakes-Medium.woff);
}

body {
  margin: 0;
  margin-right: auto;

  max-width: 100%;
  background-color: #f8f8f8;
  min-width: 320px;
  max-width: 320px;
  max-height: 1024px;
  min-height: 1024px;
  box-shadow: 10px -10px 10px 1px #bdbdbd;
}
.head__upperMenu {
  height: 88px;
  display: flex;
  align-items: center;
}
.head__burger {
  order: 1;
  margin-left: 16px;
}

.head__logo {
  order: 2;
  margin-right: auto;
  margin-left: 16px;
}
.head__search {
  order: 6;
  margin-right: 16px;
}
.main {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding-left: 24px;
  padding-top: 50px;
  font-family: TT Lakes Demi;
  font-size: 16px;
}
.link {
  text-decoration: none;
  color: #1b1c21;
}

.link:focus {
  border: none;
  color: #7e7e82;
}
.link:focus::before {
  content: '';
  background: #41f6d7;
  width: 4px;
  height: 32px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-top: -5px;
  margin-left: -24px;
  position: absolute;
  border: none;
  color: #7e7e82;
}
button {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}
button:hover {
  filter: opacity(60%);
  transition: 0.4s linear;
}
.footer {
  display: flex;
  flex-direction: column;
  padding-left: 24px;
  margin-top: 268px;
}
.footer__buttons {
  display: flex;
  gap: 16px;
  margin-bottom: 16px;
}
.footer__post {
  font-family: TT Lakes Demi;
  font-size: 16px;
  margin-bottom: 12px;
}
.footer__number {
  font-family: TT Lakes;
  font-size: 24px;
  margin-bottom: 40px;
}
.footer__lang {
  display: flex;
  gap: 7px;
  font-family: TT Lakes;
  font-size: 16px;
}
.ru {
  color: #7e7e82;
}
